#detail-modal {
  /* background: #8E7A66; */
  /* border: solid black 2px; */
  position: fixed;
  right: 2.5em;
  max-height: 90vh;
  width: 60%;
  top: 1.3em;
  z-index: 2;
}

#modal-mask {
  background: #8E7A66;
  height: 100vh;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.local-character-card {
  text-align: right;
}

.local-character-card button:first-child {
  border-bottom: solid black 1px;
}

.local-character-card button {
  background: none;
  border: none;
  color: black;
  font-size: 0.95em;
  margin-top: 0.4em;
}

#remove-all-locals {
  background: none;
  border: none;
  color: black;
  margin-top: 0.4em;
  padding: 0.3em;
}

#search-inputs {
  text-align: right;
}
