#initiative-list {
  position: relative;
  height: 90vh;
  overflow-x: auto;
  overflow-y: visible;
  width: 60%;
}

.initiative-card {
  background-color: #cab49b77;
  border-bottom: solid 5px;
  /* border-right: solid 3px; */
  border-bottom-color: #64994C;
  border-radius: 0 0 5px 0;
  /* border-right-color: blue; */
  color: black;
  font-weight: bold;
  padding: 0.5em;
  padding-left: 1em;
  position: absolute;
  top: 0;
  transition: top 1s, background-color 1s, color 1s, border-color 1s;
  /* box-shadow: 5px 5px black; */
}

.initiative-card input[type=number] {
  color: black;
  border: none;
  font-weight: bold;
  border: solid black 2px;
  margin: none;
}

.initiative-card.bloodied-character {
  border-bottom-color: #E4AC4C;
}

.initiative-card.dead-character {
  background-color: #cab49b77;
  background-image: url("https://assets.stickpng.com/images/580b585b2edbce24c47b294f.png");
  background-position: center;
  background-size: cover;
  border-bottom-color: #E4594C;
}

input[type=number] {
  background: none;
  color: white;
  border: none;
  border-bottom: solid white 1px;
}

/* Status Bar */

#status-list {
  border-radius: 0 5px 40px 0;
  left: 0;
  bottom: -1.6em;
  position: absolute;
  transition: background-color 1s;
  z-index: 1;
}

.status-button {
  background: none;
  border: none;
  color: black;
  max-height: 1em;
}

.status-button img {
  border-bottom: solid 1px #fff0;
  border-radius: 3px;
  cursor: pointer;
  height: 1.3em;
  filter: invert(1);
  transition: border-color 0.3s;
  width: 1.3em;
}

.status-button img:hover {
  border-color: #fffa;
}

/* Status Selection Modal */

#status-selection {
  background-color: #cab49bcc;
  border-radius: 5px 0 0 5px;
  position: fixed;
  right: 0;
  transition: height 1s;
  top: 5%;
  width: 40%;
  z-index: 4;
}

#status-selection-modal-mask {
  background-color: #8E7A66;
  height: 100vh;
  opacity: 0.25;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
}
