#initiative-list {
  position: relative;
  border: solid black 2px;
}

.initiative-card {
  background: black;
  color: white;
  margin-left: 5em;
  padding: 0.5em;
  position: absolute;
  top: 0;
  transition: top 1s;
}

input[type=number] {
  background: none;
  color: white;
  border: none;
  border-bottom: solid white 1px;
}
