#initiative-list {
  position: relative;
  height: 90vh;
  overflow-x: auto;
  overflow-y: visible;
  width: 60%;
}

.initiative-card {
  background-color: #cab49b77;
  border-bottom: solid 5px;
  /* border-right: solid 3px; */
  border-bottom-color: green;
  border-radius: 0 0 5px 0;
  /* border-right-color: blue; */
  color: black;
  font-weight: bold;
  padding: 0.5em;
  padding-left: 1em;
  position: absolute;
  top: 0;
  transition: top 1s, background-color 1s, color 1s, border-color 1s;
  /* box-shadow: 5px 5px black; */
}

.initiative-card input[type=number] {
  color: black;
  border: none;
  font-weight: bold;
  border: solid black 2px;
  margin: none;
}

.initiative-card.bloodied-character {
  border-bottom-color: orange;
  /* border-right-color: orange; */
}

.initiative-card.dead-character {
  /* background-color: #70421477; */
  background-color: #cab49b77;
  background-image: url("https://assets.stickpng.com/images/580b585b2edbce24c47b294f.png");
  background-position: center;
  background-size: cover;
  border-bottom-color: red;
  /* border-right-color: red; */
}

input[type=number] {
  background: none;
  color: white;
  border: none;
  border-bottom: solid white 1px;
}

/* Status Buttons */
.status-button {
  background: none;
  border: none;
  color: black;
  max-height: 1em;
}

.status-button img {
  height: 1em;
}

#status-selection {
  height: default;
  overflow-x: hidden;
  transition: height 1s;
}
