#add-monster-container {
  text-align: right;
  padding-top: 0.25em;
  margin-right: -2.5em;
}

#add-monster-container button {
  background: none;
  border: none;
  border-bottom: solid black 2px;
  color: black;
  font-size: 1.05em;
}

.local-character-card {
  display: inline-block;
  padding: 0.5em;
}

#remove-all-locals {
  border: none;
  color: black;
  padding: 0.3em;
}

#local-character-selection {
  text-align: right;
}

#add-monster-message {
  color: green;
  padding: 0.5em;
}
