#character-detail-form {
  background: black;
  color: white;
  max-height: 80vh;
  overflow-x: auto;
  padding: 1em;
}

#character-detail-form input {
  background: none;
  border: none;
  color: white;
  text-align: center;
}


.character-detail-form, .number-field {
  display: inline-block;
  border: solid white 1px;
  margin-right: 1em;
  width: 3em;
}

.character-detail-form, .text-input {
  border: solid white 1px;
  display: inline-block;
  margin-right: 1em;
}

.character-detail-form, .text-area-field {
  border: solid white 1px;
  padding: 1em;
}

.detail-sub-container {
  padding: 0.5em;
  margin: 0.5em;
}

#character-detail-form textarea {
  background: none;
  border: none;
  color: white;
  text-align: center;
}

#character-detail-form input[type=submit] {
  border: solid white 2px;
}

#character-detail-form select {
  background: black;
  color: white;
  border: solid white 1px;
  border-radius: 5px;
}

#character-detail-form input[type=text] {
  width: 100%;
}

#character-detail-form input[type=button] {
  border: solid white 2px;
}

.action-card {
  background: #111;
  margin: 1em;
}
