#detail-modal {
  background: white;
  border: solid black 2px;
  padding: 1em;
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 2;
}

#modal-mask {
  background: #8E7A6655;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

#close-detail-modal {
  background: red;
  border: solid black 2px;
  height: 10px;
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  width: 10px;
}
