#context-buttons {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  z-index: 1;
}

#context-buttons-left {
  text-align: left;
}

#context-buttons-right {
  text-align: right;
}

#context-buttons button {
  background: none;
  border: none;
}
