#character-detail-form {
  /* background-color: #B8A38B; */
  background-color: #D2C4A7;
  border: solid black 2px;
  max-height: 80vh;
  overflow-x: auto;
  padding: 1em;
  width: 100%;
}

#character-detail-form input {
  background: none;
  border: none;
  color: black;
  text-align: center;
}


.character-detail-form, .number-field {
  display: inline-block;
  border-bottom: solid black 1px;
  margin-right: 1em;
  text-align: center;
  width: 3em;
}

.character-detail-form, .text-input {
  border-bottom: solid black 1px;
  display: inline-block;
  margin-right: 1em;
  text-align: center;
}

.character-detail-form, .text-area-field {
  /* padding: 0.3em; */
}
.text-area-field:focus {
  border: solid black 2px;
}

.character-detail-select-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 1em;
  text-indent: 1px;
  text-overflow: '';
}

.detail-sub-container {
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
}

#character-detail-form textarea {
  background: none;
  border: none;
  border-bottom: solid black 1px;
  font-size: 1em;
  outline: none;
  resize: none;
  text-align: center;
  width: 100%;
}

#character-detail-form input[type=submit] {
  border: solid black 2px;
  outline: none;
}

#character-detail-form select {
  background: none;
  border: none;
  border-bottom: solid black 1px;
  border-radius: 0;
  color: black;
  text-align: center;
}

#character-detail-form input[type=text] {
  outline: none;
  width: 100%;
}

#character-detail-form input[type=number] {
  outline: none;
}

#character-detail-form input[type=button] {
  margin-right: 2em;
  outline: none;
}

.action-card {
  font-size: 0.8em;
  margin: 1em;
}

#detail-mode-tab {
  border: solid black 2px;
  border-left: none;
  border-right: none;
  margin-top: 1em;
  position: relative;
  text-align: center;
  z-index: 1;
}

.spell-span {
  margin-right: 1em;
}

.spell-level-container {
  border-bottom: solid black 4px;
  border-radius: 0 0 5px 0;
  left: -1em;
  padding-left: 1em;
  position: relative;
  text-align: left;
}

#character-detail-image {
  position: absolute;
  opacity: 0.3;
  left: 0.5em;
  bottom: 0.5em;
  width: 100px;
}

#add-spell-form {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 5%;
  grid-column-gap: 2%;
  position: relative;
  z-index: 1;
}

#add-spell-form input[type=text] {
  border-bottom: solid black 1px;
  text-align: left;
}

#add-spell-form input[type=button] {
  border: solid black 1px;
}

#add-spell-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 1em;
  text-indent: 1px;
  text-overflow: '';
  text-align: left;
}

#character-detail-form #save-local-character-button {
  border: solid black 2px;
}
