#context-buttons {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  z-index: 1;
}

#context-buttons-left {
  text-align: left;
  transition: opacity 1s;
  opacity: 0;
}

#context-buttons-right {
  /* border-bottom: solid black 2px; */
  text-align: right;
}

#context-buttons button {
  background: none;
  border: none;
  border-bottom: solid black 2px;
  color: black;
  font-size: 1.05em;
}
