@keyframes fade-out {
  0% {opacity: 1;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

#options-button {
  bottom: 0;
  position: fixed;
  right: 0.5em;
}

#options-button-icon {
  filter: invert(1);
  height: 2em;
}

#options-label {
  animation: fade-out 5s forwards;
}

#options-modal {
  background: white;
  border-radius: 1em 0 0 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;
  position: fixed;
  right: 0;
  top: 2em;
  z-index: 1;
}

#options-modal-mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #0005;
  top: 0;
  left: 0;
}
